body{
    font-family: sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 200px 150px 50px;
    grid-template-areas: 
    "header header header header"
    "navigation article article sidebars "
    "navigation sections  sections sections"
    "footer footer footer footer "
    ;
}
header ,footer{
    background: #000;
    color: #fff;
    padding: 10px;
}
.sections,.sidebar{
    background: #cfcece;
}
header{
    grid-area: header;
}

.navigation{
    grid-area: navigation;
    background: #706f6f;
    color: #fff;
    padding: 10px;
}
.article{
    grid-area: article;
    padding: 10px;
}
.sections{
    grid-area: sections;
    padding: 10px;
}
.sidebar{
    grid-area: sidebars;
    padding: 10px;
}
footer{
    grid-area: footer;
}